@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background-color: black;
}
body:hover {
    cursor: default;
}

.words {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

.objects {
    color: powderblue;
    font: 15px;
    font-family: 'Press Start 2P', cursive;
    margin: 30px;
}

.button {
    border-radius: 50px;
    height: 25px;
    background-color: aquamarine;
    font-family: 'Press Start 2P', cursive;
    font: 15px;
    color:blue;
}